@using MonoDevelopMySQL.Models;
@model IEnumerable<Person>

<div class="container">
  <div class="jumbotron">
<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2></div>

<div class="btn btn-danger">Test</div>

<div>
<table>
<thead>
<tr>
<td>First Name</td>
<td>Last Name</td>
<td>Birthday</td>
<td>View</td>
<td>Edit</td>
</tr>
</thead>
<tbody>
@foreach(Person p in @Model)
{

<tr>
<td>@p.FirstName</td>
<td>@p.LastName</td>
<td>@p.BirthDate</td>
<td></td>
</tr>
}	
</tbody>
</table>
</div>